<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sss.wel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Api.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/one_wel_loge"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/one_wel_loge"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.SplashScreenActivity"
            android:theme="@style/AppTheme1">

        </activity>
        <activity
            android:name=".UI.MainActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Agent.AgentLoginActivity"
            android:parentActivityName=".UI.MainActivity"/>
        <activity android:name=".UI.Agent.AgentSignUpActivity"
            android:parentActivityName=".UI.Agent.AgentLoginActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/places_key" />

        <activity android:name=".UI.providers.ProviderSignUpActivity"
            android:parentActivityName=".UI.MainActivity"/>
        <activity
            android:name=".UI.Agent.AgentProfileSettings"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".UI.BlockSearchItemActivity"
            android:parentActivityName=".UI.MainActivity">
        </activity>
        <activity android:name=".UI.PaymentActivity"
            android:parentActivityName=".UI.MainActivity">
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/razorpaykeytext"/>
    </application>

</manifest>